<div id="combination-nav-container">
  <div id="upper-triangle"></div>
  <div id="combination-nav">
    <nav class="float-menu">
      <ul>
        <li><span class="material-symbols-outlined">
            open_in_new
          </span><a class="link link--secondary" href="#"></a>Open palette
        </li>
        <li><span class="material-symbols-outlined">
            magic_button
          </span><a class="link link--secondary" href="#"></a>Open in the generator
        </li>
        <li><span class="material-symbols-outlined">
            open_in_full
          </span><a class="link link--secondary" href="#"></a>View fullscreen
        </li>
        <li><span class="material-symbols-outlined">
            favorite
          </span><a class="link link--secondary" href="#"></a>Save
        </li>
        <% if(user){ %>
        <li id="delete-combination"><span class="material-symbols-outlined">
            delete
          </span><a class="link link--secondary" href="#"></a>Delete
        </li>
        <% } %>
      </ul>
    </nav>
  </div>
  <div id="lower-triangle"></div>
</div>