<div id="combination-nav-container">
  <nav class="float-menu">
    <ul>
      <li><a class="link link--secondary" href="#"><span class="material-symbols-outlined">
            open_in_new
          </span>Open palette</a>
      </li>
      <li><a class="link link--secondary" href="#"><span class="material-symbols-outlined">
            magic_button
          </span>Open in the generator</a>
      </li>
      <li><a class="link link--secondary" href="#"><span class="material-symbols-outlined">
            open_in_full
          </span>View fullscreen</a>
      </li>
      <li><a class="link link--secondary" href="#"><span class="material-symbols-outlined">
            favorite
          </span>Save</a>
      </li>
      <li><a class="link link--secondary" href="#"><span class="material-symbols-outlined">
            delete
          </span>Delete</a>
      </li>
    </ul>
  </nav>
</div>