<div id="combination-nav-container">
  <div id="upper-triangle"></div>
  <div id="combination-nav">
    <nav class="float-menu">
      <ul>
        <li id="open-palette-combination-menu" ><span class="material-symbols-outlined">
            open_in_new
          </span><p>Open palette</p>
        </li>
        <li><span class="material-symbols-outlined">
            magic_button
          </span><p>Open in the generator</p>
        </li>
        <li id="view-fullscreen-combination-menu"><span class="material-symbols-outlined">
            open_in_full
          </span><p>View fullscreen</p>
        </li>
        <li id="save-combination-menu" <% if (user) {%>user="<%=user.id%>"<%}%> ><span class="material-symbols-outlined">
            favorite
          </span><p>Save</p>
        </li>
        <% if(user){ %>
        <li id="delete-combination"><span class="material-symbols-outlined">
            delete
          </span><p>Delete</p>
        </li>
        <% } %> 
      </ul>
    </nav>
  </div>
  <div id="lower-triangle"></div>
</div>