<footer>
  <section id="made-by">
    <p>Made with </p><span class="material-symbols-rounded">
    favorite
    </span><p>by Sneha Mahajan</p></section>
  <p id="coolers-text">Inspired by the amazing tool created by <a href="https://coolors.co/palettes/trending">Coolers</a></p>
</footer>