<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%- include('_remote_css_fonts') %>
    <%- include('_local_stylesheets') %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <title>
        Colourly
      </title>
</head>

<body id="body">
  <header>
    <%- include('_nav') %>
  </header>