<div id="palette-fullscreen">
  <span id="palette-fullscreen-cancel" class="material-symbols-rounded" style='font-variation-settings:"FILL" 0;'>
    cancel
  </span>
  <div id="palette-fullscreen-palette">
  </div>
</div>