//// Variables
// Fonts
$font-family-default: 'Work Sans', sans-serif;
$font-family-josefin: 'Josefin Sans', sans-serif;
$font-size-h1: calc(25px + 5vw);
$font-size-h2: calc(20px + 3vw);
$font-size-h3: calc(18px + 2vw);
$font-size-h4: calc(15px + 1vw);
$font-size-h5: calc(10px + 1vw);
$font-size-h6: calc(8px + 1vw);
$font-size-p-lg: calc(16px + 0.8vw);
$font-size-p-m: calc(14px + 0.5vw);
$font-size-p-sm: calc(12px + 0.3vw);
$font-size-p-xs: calc(10px + 0.3vw);
$extra-thin: 200;
$thin: 300;
$medium: 500;
$bold: 800;
$extra-bold: 900;

// Colors
$background-color: #f5f5f5;
$white: #f5f5f5;
$yellow: #fdc921;
$yellow2: #FDE74C;
$blue: #01baef;
$blue2: #3772FF;
$gray: #847577;
$orange: #eb4511;
$danger-red: #ef3c2d;
$black: #080808;
$lightgray: #c6c6c6;
$lightgrayTransparent: rgb(198, 198, 198, 0.4);
$coolersBlue: #0066ff;

// Padding
$padding-full-vw: 2em;

// Margins

// Widths
$full-vw: 100vw;

// Heights
$full-vh: 100vh;
