@import "../../sass/global";

.button-default {
  color: $white;
  min-width: 4em;
  padding: 0.3em 0.5em;
  font-family: $font-family-default;
  font-size: $font-size-p-sm;
  font-weight: $thin;
  // border: 1px solid;
  border: none;
  background-color: $black;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  transition: width 0.3s, border-radius 0.3s, background-color 0.3s;
  &:hover {
    cursor: pointer;
    border-radius: 2rem;
    background-color: $black;
    color: white;
  }
}

.sign-in {
  background-color: $black;
}

.save-to-lib {
padding: 1em 2em;
background-color: $coolersBlue;
font-size: $font-size-p-m;
font-weight: $extra-thin;
border: 1px solid $coolersBlue;
border-radius: 5rem;
&:hover {
  background-color: $white;
  color: $black;
  border-radius: 5rem;
  border: 1px solid $black;
}
}

.go-up {
  position: fixed;
  bottom: 12px;
  right: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: $lightgrayTransparent;
  color: $black;
  font-size: 10px;
  // padding-top: 13px;
  text-align: center;
}

.sign-in-popup {
  font-size: $font-size-p-m;
  font-weight: 100;
}