<!-- Main home page -->
<%- include('partials/_head') %>
<main>
  <%- include('partials/_combination') %>
  <%- include('partials/_combination') %>
</main>
<%- include('partials/_bootstrap_scripts') %>
</body>

</html>