#new-combination-container h2 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
}
#color-input {
  display: none;
}
#color-label {
  height: 100%;
  width: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  background-color: white;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 20px 20px 14px 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
  display: flex;
  gap: 10px;
}


#color-picker:hover {
  cursor: url("../images-icons/radio_button_unchecked_FILL0_wght500_GRAD-25_opsz20.png"),
    auto;
}

#new-combination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  height: 350px;
}

#colour-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.colour-selection {
  height: 30px;
  width: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
  text-align: center;
  padding:3px;
}

.colour-selection:hover {
  cursor: pointer;
}

#new-combination-container button {
  border: none;
  border-radius: 20px;
  background-color: #0066ff;
  width: 150px;
  height: 100px;
  /* font-weight: bold; */
  color: white;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}

#new-combination-container button:hover {
  cursor: pointer;
  background-color: #0055ff;
}
