#new-combination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 3em;
}

#new-combination-container h2 {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 50px;
}
#color-input {
  display: none;
}
#color-label {
  height: 100%;
  width: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  background-color: white;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 20px 20px 14px 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
  display: flex;
  gap: 10px;
}

#color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  height: 350px;
}

#colour-selection-container {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  gap: 25px;
}

.colour-selection {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
  text-align: center;
  padding:10px;
  font-size: 20px;
}

.colour-selection:hover {
  cursor: pointer;
}

#new-combination-container button {
  border: none;
  border-radius: 20px;
  background-color: #0066ff;
  width: 150px;
  height: 100px;
  color: white;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}

#new-combination-container button:hover {
  cursor: pointer;
  background-color: #0055ff;
}

#new-combination-container ol {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(112, 112, 103);
  font-weight: 100;
  margin-bottom: 5em;
}

#drag-selector {
  cursor: move;
  z-index: 10;
  position: absolute;
  text-align: center;
  top: 267px;
  left: 490px;
}

#drag-selector .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 25
}