#new-combination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: -2em;
}

#new-combination-container h4, 
#new-combination-container h6 {
font-weight: bold;
}

#color-picker {
  background-color: white;
  border: solid 1px #ccc;
  padding: 20px 20px 14px 20px;
  border-radius: 5px;
  border: 1px solid rgb(198, 198, 198);
  display: flex;
  gap: 10px;
}

#color-picker-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  height: 350px;
}

#color-picker-instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;
  /* align-items: center; */
}

#color-picker-container ol {
  font-size: 15px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(112, 112, 103);
  font-weight: 100;
  padding: 0 1em;
  margin: 0px;
}

#color-picker-container button {
  border: none;
  border-radius: 5px;
  background-color: #0066ff;
  height: 50px;
  color: white;
  font-size: 20px;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}

#color-picker-container button:hover {
  cursor: pointer;
  background-color: #0055ff;
}

#colour-sel-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 50px;
  width: 700px;
}

#selected-cols {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px;
  gap: 10px 30px;
}

.selected-col {
  border-radius: 50%;
  box-shadow: 0 0 2px rgb(110, 110, 110);
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.selected-col:hover {
  cursor: pointer;
  box-shadow: 0 0 3px rgb(110, 110, 110);
}

#current-col {
  border-radius: 5px;
  border: 1px solid rgb(198, 198, 198);
  padding: 0.5em;
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#current-col h6 {
  text-align: center;
}

#colour-value {
  height: 60%;
  width: 100%;
  /* border-radius: 5px; */
  box-shadow: 0 0 2px rgb(110, 110, 110);
  background-color: white;
}

/* Drag */
#drag-container {
  width: 300px;
  height: 314px;
  position: absolute;
}

#drag-selector {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 25;
  cursor: move;
  z-index: 10;
  position: absolute;
  text-align: center;
  top: -11px;
  left: 287px;
}

#drag-color-strip-container {
  width: 30px;
  height: 314px;
  /* visibility: hidden; */
  position: absolute;
}

#drag-color-strip-selector {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 25;
  cursor: move;
  z-index: 10;
  position: absolute;
  text-align: center;
  top: -19px;
  left: -7.5px;
  font-size: 45px;
  /* height: -5px;
  width: 30px; */
}
