#combinations-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
}

.single-combination {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.combination {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 0px;
  height: 7em;
  width: 25em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}

.colour { 
  width:100%;
  text-align: center;
  padding: 50px 0; /* to center text*/
  vertical-align: middle;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.colour:hover {
  /* width: 125%; */
  transition-duration: 0.3s;
  cursor: pointer;
}

.combination-info {
  display: flex;
  flex-direction: row;
  justify-content:end;
  gap: 1em;
  margin-right: 1em;
  color:  rgb(110, 110, 110);
}

.combination-info i {
  padding-top: 4px;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.combination-info:hover {
  color:  black;
  cursor: pointer;
}

#add-more-combinations {
  background-color: #0066ff;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding: 5px 10px;
  border-radius: 8px;
}

#add-more-combinations:hover {
  background-color: #0055ff;
  transition-duration: 0.2s;
  cursor: pointer;
}

#add-more-combinations a {
  color: white;
}
