#combinations-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
  padding: 1em;
  width: 100%;
}

.single-combination {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.combination {
  display: flex;
  flex-direction: row;
  height: 7em;
  width: 20em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgb(110, 110, 110);
}

.colour {
  width: 33.333%;
  text-align: center;
  padding: 50px 0; /* to center text*/
  vertical-align: middle;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}

.colour:hover {
  width: 75%;
  transition-duration: 0.3s;
}

.combination-info {
  display: flex;
  flex-direction: row;
  justify-content:end;
  gap: 1em;
  margin-right: 1em;
}

.combination-info i {
  padding-top: 4px;
}
