#combination-nav-container {
  position: absolute;
  display: none; 
}

#combination-nav {
  width: 275px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 2px rgb(110, 110, 110);
  padding: 1em;
  /* position: absolute; */
  /* display: none;  */
  background-color: white;
  transition: 2000;
}

#combination-nav nav {
  border: 0px;
  height: 100%;
  padding: 0px;
}

#combination-nav p {
  font-size: 16px;
  margin: 0px;
  padding-left: 0.5em;
}

#combination-nav ul {
  list-style-type: none;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0px;
}
 
#combination-nav li {
  border-radius: 10px;
  width: 100%;
  padding: 0.5em;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

#combination-nav li:hover {
  background-color: #e6f0ff;
  width: 100%;
  cursor: pointer;
}

#upper-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid rgb(0, 0, 0);
  position: absolute;
  left: 8px;
  top: -15px; 
  /* display: none; */
}

#lower-triangle {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgb(0, 0, 0);
  position: relative;
  left: 8px;
  /* top: -5px; */
  display: none;
}
