nav {
  border-top: 1px solid rgb(198, 198, 198);
  border-bottom: 1px solid rgb(198, 198, 198);
}

nav > a {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.navbar-toggler {
  border: none;
}

.active {
  color: #212529;
}

/* Media Queries */
@media (min-width: 0px) and (max-width: 990px) {
  /* Remove margin from logout button in responsive menu */
  #navbarText .ml-3 {
    margin-left: 0px !important;
  }
}
