nav {
  border-top: 1px solid rgb(198, 198, 198);
  border-bottom: 1px solid rgb(198, 198, 198);
}

nav > a {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.navbar-toggler {
  border: none;
}

.active {
  color: #212529;
}


/* Media Queries */
@media (min-width: 0px) and (max-width: 990px) {

/* Remove margin from logout button in responsive menu */
#navbarText .ml-3{
  margin-left: 0px!important; 
}

}

/* 


nav a {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

nav div {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

nav div i {
  padding-top: 15px;
}

i:hover {
  cursor: pointer;
}
a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.sign-up-button {
  background-color: #0066ff;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding: 5px 10px;
  border-radius: 8px;
}

.sign-up-button:hover {
  background-color: #0055ff;
  transition-duration: 0.2s;
  cursor: pointer;
}

.sign-in-link {
  color: #212529;
  padding: 5px 10px;
  font-family: "Ubuntu", sans-serif;
}

.sign-in-link:hover {
  color: #0055ff;
  transition-duration: 0.2s;
  cursor: pointer;
}

#menu-container {
  position: relative;
  display: inline-block;
  width: 20%;
}

.menu {
  display: none;
  position: absolute;
  color: #212529;
  list-style-type: none;
  width: 100%;
  text-align: end;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  border: 0;
}

.menu:hover {
  cursor: pointer;
}

.menu-item {
  border-bottom: 1px solid rgb(198, 198, 198);
  border-left: 1px solid rgb(198, 198, 198);
  padding: 0 2em 0 0;
}

.menu-item:hover {
  background-color: aliceblue;
}

#logout-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
} */
