* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#heading-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading-container h1 {
  font-size: 60px;
  font-weight: bold;
}

#heading-container h3 {
 color:rgb(112, 112, 103);
 font-weight: lighter;
}