* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1,h2,h3,h4,h5,h6,p,div,span {
  margin: 0px;
  padding: 0px;
}

#heading-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading-container h1 {
  font-size: 60px;
  font-weight: bold;
}

#heading-container h3 {
 color:rgb(112, 112, 103);
 font-weight: lighter;
}

#main {
 min-height: 675px;
 font-family: "Ubuntu", sans-serif;
}

