#test-users-heading-container {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#test-users-heading-container h3 {
  font-size: 1.75rem;
}

#test-users {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  margin: 4em 0;
  width: 100%;
}

#test-users .card:hover {
  box-shadow: 0px 4px 4px rgb(210, 208, 208);
}

#test-users-subtext {
  color: #7d7c83;
  font-size: 18px;
}

#login-test-users {
  background-color: #0066ff;
  color: white;
  font-family: "Ubuntu", sans-serif;
  padding: 5px 10px;
  border-radius: 8px;
}

#login-test-users:hover {
  background-color: #0055ff;
  transition-duration: 0.2s;
  cursor: pointer;
}
