@import "../../sass/global";

.nav {
  background-color: $white;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  .logo {
    font-size: $font-size-p-m;
    font-weight: $extra-bold;
    color: $black;
  }
  a {
    text-decoration: none;
    border-top: 1px solid $white;
    font-size: $font-size-p-sm;
    font-weight: $thin;
    &:hover {
      border-top: 1px solid $black;
      transition: 0.5s;
    }
  }
  .nav-right-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
}


.opaque {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  // display: none;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
* html .opaque {
  position: absolute;
}

.sign-in-form {
  // font-family: "Ubuntu", sans-serif;
  position: absolute;
  top: 20%;
  left: 35%;
  opacity: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 25rem;
  height: 30rem;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 15px;
  padding: 1em;
  background-color: $white;
  h2 {
    font-weight: $extra-bold;
    font-size: $font-size-h2;
  }
  button {
    font-family: $font-family-default;
    background-color: #0066ff;
    color: $white;
    border-radius: 8px;
    width: 70%;
    height: 10%;
  }
  p {
    text-align: center;
    font-size: $font-size-p-m;
    font-weight: $extra-thin;
  }
  input {
    width: 90%;
    height: 3em;
    box-shadow: 0 0 1px rgb(110, 110, 110);
    border: 0px;
    border-radius: 8px;
    padding-left: 1em;
    font-size: $font-size-p-m;
    font-weight: $extra-thin;
    &:focus {
      outline: none;
      border: 1px solid #0066ff;
    }
  }

}
