@import "../../sass/global";

.newPaletteContainer {
  padding-top: 2em;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.selections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  h4 {
    font-size: $font-size-h2;
    font-weight: $extra-bold;
  }
  p {
    font-size: $font-size-p-m;
    font-weight: $extra-thin;
  }
  .selected-colors {
    display: grid;
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px 90px 90px 90px;
    grid-template-rows: 90px;
  }
}

.color-selections-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6em;
}

.current-color {
  border-radius: 5px;
  // border: 1px solid rgb(198, 198, 198);
  padding: 0.5em;
  // height: 90px;
  // width: 200px;
  gap: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-color h3 {
  text-align: center;
}

.picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4em;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 70%;
  h3 {
    font-size: $font-size-h3;
    // font-weight: $extra-bold;
  }
  li {
    font-size: 18px;
    font-weight: $extra-thin;
  }
}
