@import "../../sass/global";

.faq-container {
  color: $black;
  padding: 4em 2em;
  h3 {
    font-size: $font-size-h3;
    font-weight: $extra-bold;
    text-align: center;
    margin-bottom: 0.5em;
  }
  p {
    font-size: $font-size-p-lg;
    font-weight: $extra-thin;
    margin-bottom: 2em;
    text-align: center;
  }
}

.all-faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3em 2em;
  .faq {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1em;
    .faq-icon-question {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
    }
    h6 {
      font-size: $font-size-h5;
      // font-weight: $bold;
      color: $gray;
      text-align: left;
    }
    p {
      font-size: $font-size-p-m;
      font-weight: $extra-thin;
      margin-bottom: 0;
      text-align: left;
    }
    a {
      color: #F9684F;
      text-decoration: underline;
      font-weight: $medium;
    }
  }
}
